.back-shadow{
    border-radius: 14px;
background: #FFF;
box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);

}
  
.font-2{
    font-size: 12px;
}


.btn-cOlorr{
    background-color: #FF7426;
}
